*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.wrapper{
   
   height: 100vh;
   
     
}

.landing-page{
    background-color: rgb(255, 195, 43);
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
     
    position: fixed;
    width: 100%;
    background-color: rgb(255, 195, 43);
    border-bottom: 1px solid black;
}

.logo{
    font-size: 3rem;
    font-weight: 700;
}

.navlist{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    font-size: 1.2rem;
    align-items: baseline;

}

.nav-text a{
    text-decoration: none;
    color: black;
}

.nav-text a:hover{
   color: rgb(70, 168, 255);
}

.nav-text button{
    background-color: black;
    color: white;
    padding: 15px;
    width: 8rem;
   
    font-weight: 700;
    border-radius: 60px;
}

.curious{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    gap: 3rem;
    padding:2rem 3rem;
    padding-top: 8rem;
 
}

#stay-curious{
    font-size: 8rem;

}

.landing-para{
    font-size: 2rem;
}

.start-reading{
    background-color: black;
    color: white;
    padding: .8rem 3rem;
    font-size: larger;
    border-radius: 50px;
}

/* trending page  */


.trending-page{
    height: 70vh;
    padding:2rem 4rem;
   

}

.trending-medim{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.trending-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 70%;
}

.card{
    display: flex;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-right: .5rem;
    margin-bottom: -1rem;
}

.card-no{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(208, 208, 208);
    padding-right: 1.2rem;
    
}

.heading{
    font-size: 1rem;
    font-weight: 700;
    
}

.discription{
    font-size: 1.3rem;
    font-weight: 600;

}

/* scrolling page */

.scrolling-page{
    display: flex;
    height: 100vh;
    padding:6rem 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    margin-top: 2rem;
    border-top: 1px solid rgb(224, 224, 224);

}

.scrolling-cards{
    display: flex;
    flex-direction: column;
    z-index: -20; 
    height: fit-content;
    width: 60%;
    align-items: center;
    
}
 

.scroll-card{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: .5rem;
    padding: 1rem;
    
}

.scroll-head{
    font-size: 1.1rem;
    font-weight: 600;
}


.date{
    display: flex;
    gap: 1rem;
}

.date button{
    all: unset;
    background-color: rgb(223, 223, 223);
    padding:5px 1rem;
    border-radius: 50px;
    cursor: pointer;

}




.static-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    /* width: 40%; */
    position: sticky;
    top: 100px;
    height: 20rem;
    z-index: -10;
 
}

.topics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    width: 110%;

}

.function-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
}

.topic{
    background-color: rgb(234, 234, 234);
    padding: .5rem;
    text-align: center;
    border-radius: 50px;
    
    
    
}


.cards{
    display: flex;
}



.card-image{        
    
    border: 2px solid black;
    height: 9rem;
    aspect-ratio: 4/3;
    background-color: aqua;
    background-position: center;

}

.card-image.img1{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*3IcTfY6F7SFA2ys0aufuEg.jpeg);
}
.card-image.img2{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*cLczw913nHBiE4zpRn-QGA.png);
}
.card-image.img3{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*NeAIOFBAuB5T33T-btTlyQ.jpeg);
}
.card-image.img4{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/0*cpo4BkH-JSLZopKm.png);
}
.card-image.img5{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*C44Wg-1vd1TerVeCqu4MXw.jpeg);
}
.card-image.img6{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*iokjTUKJx_PsCi1qyGz9VQ.jpeg);
}
.card-image.img7{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/0*P8D7E0DvyYWRyaYR.jpg);
}
.card-image.img8{
    background-image: url(https://miro.medium.com/v2/resize:fill:300:201/1*iC_bsufbnV9p1p6dCeevZQ.jpeg);
}